@import "tailwindcss";

:root {
  --zx-white: #ffffff;
  --zx-black: #171717;
  --zx-primary: #f09c18;
  --zx-gray: #3c3c3c;
  --zx-soft: #f4f4f4;
  --font-inter: "Inter", sans-serif;
  --font-dmSans: "DM Sans", sans-serif;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-sans: var(--font-dmSans);
  --color-zxwhite: var(--zx-white);
  --color-zxblack: var(--zx-black);
  --color-zxprimary: var(--zx-primary);
  --color-zxgray: var(--zx-gray);
  --color-zxsoft: var(--zx-soft);
}


body {
  overflow-x: hidden;
}

.hero-swiper .swiper-pagination-bullet {
  background: #cacaca !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #f09c18;
  transform: scale(1.3);
}
.hero-swiper .swiper-pagination-bullet-active {
  background: #f09c18 !important;
  opacity: 1;
  width: 24px;
  border-radius: 4px;
}
.contact-input-lg {
  width: 100%;
  border: 1px solid #6e6e6e;
  border-radius: 20px;
  padding: 1.1rem 1.5rem;
  font-size: 1rem;
  color: #111;
  transition: all 0.2s ease;
}

.contact-input-lg::placeholder {
  color: rgba(17, 17, 17, 0.5);
}

.contact-input-lg:focus {
  outline: none;
  border-color: #f59f0b9a; /* zxprimary */
  box-shadow: 0 0 0 1px rgba(245, 158, 11, 0.15);
}

.swiper-pagination-bullet-active {
  background: #f09c18 !important; /* Replace with zxprimary hex */
}
.swiper-container {
  border-radius: 20px;
}
.swiper-pagination-bullet {
  background: #cacaca !important;
}
